src/main/resources/recharge.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://telecom.com/recharge"
           xmlns:tns="http://telecom.com/recharge"
           elementFormDefault="qualified">

    <xs:element name="RechargeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="msisdn" type="xs:string"/>
                <xs:element name="amount" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RechargeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
